.bg_jumbotron_landing {
  background-image: url(https://www.fits.id/images/elements/cat/jumbotron/makanan-minuman-jumbotron.png);
  background-size: cover;
  height: 300px;
}

.text-type-kategori {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.link {
  color: black;
}
.link:hover {
  text-decoration-line: none;
}

.text-type-kategori:hover {
  text-decoration-line: none;
}

.bg_jumbotron_detail {
  background-image: url(http://cdn2.tstatic.net/palembang/foto/bank/images/jadi-primadona-setiap-kalangan-benarkah-kopi-bermanfaat-untuk-kesehatan-jantung_20180628_140049.jpg);
  background-size: cover;
  height: 500px;
}

.bg_footer {
  color: #fff;
  background: #1e3a56 url(https://www.arkademy.com/asset/v4/img/footer.svg);
  padding-top: 20px;
  padding-bottom: 80px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.header-jumbotron {
  font-size: 40px;
}

.input-jumbotron {
  width: 100px;
}

.text-card {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 20px;
}

.card-hover:hover {
  box-shadow: 2px 2px 2px 2px #888888;
  color: black;
}
