.bg_jumbotron {
  background-image: url(https://www.dicoding.com/images/original/commons/header.jpg);
  background-size: cover;
  height: 375px;
}

.bg_footer {
  color: #fff;
  background: #1e3a56 url(https://www.arkademy.com/asset/v4/img/footer.svg);
  padding-top: 20px;
  padding-bottom: 80px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.header-jumbotron {
  font-size: 40px;
}

.text-card {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 20px;
}

.card-hover:hover {
  box-shadow: 2px 2px 2px 2px #888888;
}
